.layoutContainer {
    display: flex;
    height: 100vh;
}

.groupMenuContainer {
    width: 200px;
    height: 100%;
}

.tabsNavBar {
    width: 80%;
    height: 10vh;
    display: flex;
    align-items: center;
}

.serviceContainer {
    width: 100%;
    height: 90vh;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabsNavBar nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.tabsNavBar nav ul li {
    /* Styles for individual nav items */
}

.tabsNavBar nav ul li a {
    text-decoration: none;
    color: black; 
    /* Maybe add hover effects */
}